@charset "utf-8";
/* CSS Document */
.main{
	width:100%;
	height:1081px;
	margin-top:10px;
	}
.td1{ color:#666666; font-weight:bold;}

.ft_blue{ color:#0000FF; font-weight:bold;}
.td_ma a{ color:#0099CC; text-decoration:underline;}
.td_ma a:hover{ color:#00CCCC; text-decoration:underline;}
.top_link a:hover{ color:#333333; text-decoration:none;}
.ss_bj{
	width:960px;
	height:63px;
	background-image:url(../img/ss_bj.jpg);
	background-repeat:no-repeat;
	margin:3px auto;}
.ss_tb{ color:#FFFFFF;}

	.m_left{
		width:660px;
		height:100%;
		margin-left:15px;
		float:left;
		}
		.l_xxk{
			width:229px;
			height:25px;}
		.ym_tb{
			width:404px;
			height:18px;
			margin-top:15px;
			margin-left:254px;
			}
		.ym1{
			width:47px;
			height:18px;
			background-color:#F8E9FE;
			border: 1px solid #63435A;
			text-align:center;
			line-height:18px;
			color:#763458;		
			}
		.ym2{
			width:18px;
			height:18px;
			background-color:#F8E9FE;
			border: 1px solid #63435A;
			text-align:center;
			line-height:18px;
			color:#763458;		
			}
		.xuxian{
			width:99%;
			height:1px;
			border-top-width: 1px;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-left-width: 1px;
			border-top-style: none;
			border-right-style: none;
			border-bottom-style: dashed;
			border-left-style: none;
			border-top-color: #999999;
			border-right-color: #999999;
			border-bottom-color: #999999;
			border-left-color: #999999;
		}
		.ym3{
			width:18px;
			height:18px;
			background-color:#8E2A6A;
			border: 1px solid #63435A;
			text-align:center;
			line-height:18px;
			color:#FFDFF4; 
			}
		.kuang{
			width:658px;
			height:960px;
			border: 1px solid #E0E0E0;
			margin-top:15px;
		}
		.nicheng{ color:#2A3869; font-weight:bold;}
	.m_right{
		width:257px;
		height:100%;
		margin-left:10px;
		float:left;}
	.top{
		width:256px;
		height:13px;
		margin-top:15px;
		background-repeat:no-repeat;
		background-image:url(../img/top.jpg);
		}
	.r_bj{
		width:254px;
		height:250px;
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: solid;
		border-left-style: solid;
		border-top-color: #F6D7DD;
		border-right-color: #F6D7DD;
		border-bottom-color: #F6D7DD;
		border-left-color: #F6D7DD;		
		}
	.bj_ft{
		font-size:18px;
		color:#009999;
		font-weight:bold;
		}
	.bj_ft2{
		font-size:16px;
		color:#999999;
		font-weight:bold;
		}
	.bj_ft3{
		font-size:13px;
		color:#999999;
		font-weight:bold;
		}
	
	.top2{
		width:265px;
		height:32px;
		margin-top:15px;
		background-image:url(../img/top2.jpg);
		} 
		.top2_ft{
			color:#0E1040;
			font-weight:bold;
			}
		.td_x{
			width:100%;
			height:1px;
			border-top-width: 1px;
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-left-width: 1px;
			border-top-style: none;
			border-right-style: none;
			border-bottom-style: dashed;
			border-left-style: none;
			border-top-color: #CCCCCC;
			border-right-color: #CCCCCC;
			border-bottom-color: #CCCCCC;
			border-left-color: #CCCCCC;
			} 
		.td_ft1 a{ color:#006699; text-decoration:none;}
		.td_ft1 a:hover{ color:#0099CC; text-decoration:none;}
		.td_ft2 a{ color:#663399; text-decoration:none;}
		.td_ft2 a:hover{ color:#6666FF; text-decoration:none;}
	.r_bj2{
		width:263px; 
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: solid;
		border-left-style: solid;
		border-top-color: #F6D7DD;
		border-right-color: #F6D7DD;
		border-bottom-color: #F6D7DD;
		border-left-color: #F6D7DD;		
		}



.succeed_xiangkuang{
	width:108px;
	height:126px;
	border: 1px solid #DAD7FF; 
	}
.succeed_link a{ color:#0066FF; text-decoration:none;}
.succeed_link a:hover{ color:#00CCFF; text-decoration:none;}

 