@charset "utf-8";
/* CSS Document */
.main{
	width:100%;
	height:1450px;
	margin-top:10px;
	}

	.gr_info{
		width:513px;
		height:23px;
		margin-top:5px;
		background-color:#D3E8EB;
		}
	.gr_info_tb{
		width:513px; 
		}
	.info_ftcolor{
		color:#27727E;}
